html {
    scroll-behavior: smooth;
}

:root {
    --background: #000114;
    --royalBlueDark: #002962;
    --USAFABlue: #004E89;
    --steelBlue: #407BA7;
    --platinum: #EBEBEB;
    --font1:'Titillium Web', sans-serif;
    
}

body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: var(--background);
    color: var(--platinum);
    font-family: var(--font1)
    /* box-sizing: border-box; */
}

/**************************** UTILIDADES *******************************/
.flex-centrado {
    display: flex;
    align-items: center;
}


/**********************************************************************/




/**************************** NAVBAR *******************************/

.navbar {
    justify-content: space-between;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--platinum);
    margin: 0%;
    margin-bottom: 50px;
    padding: 30px;
    font-size: 20px;
}

.navbar div {
    width: 50%;
}

.ul-navbar {
    width: 50%;
    justify-content: space-evenly;
}

.navbar h2 {
    margin-left: 10%;
}


/**********************************************************************/




/****************************** SOBRE MI ********************************/


.section-sobre-mi {
    margin-top: 100px;
    justify-content: center;
}

.section-sobre-mi-wrapper {
    max-width: 1200px;
    justify-content: space-around;
}

.section-sobre-mi-wrapper div {
    width: 45%;
}

.section-sobre-mi img {
    width: 100%;
}

h1 {
    font-size: 36px;
}

h1 span {
    display: block;
}

/************************************************************************/



/****************************** PROYECTOS ********************************/


.section-proyectos {
    justify-content: center;
}

/************************************************************************/


/****************************** CONTACTO ********************************/

.section-contacto {
    justify-content: center;
}

/************************************************************************/



/****************************** FOOTER ********************************/

footer {
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    background-color: black;
    color: var(--platinum);
    
}

footer ul {
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

/************************************************************************/