html {
    scroll-behavior: smooth;
}

:root {
    --background: #000114;
    --royalBlueDark: #002962;
    --USAFABlue: #004E89;
    --steelBlue: #407BA7;
    --platinum: #EBEBEB;
    --font1:'Titillium Web', sans-serif;
    
}

body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: var(--background);
    color: var(--platinum);
    font-family: var(--font1)
    /* box-sizing: border-box; */
}

/**************************** UTILIDADES *******************************/
.flex-centrado {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 2rem;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js-square {
    color: #f0db4f;
}

.fa-react {
    color: #00d8ff;
}

a {
    text-decoration: none;
    color: inherit;
}

.boton-up {
    position: fixed;
    right: 1%;
    bottom: 8%;
    width: 3.12em;
    z-index: 10;
    
    
}

.boton-up i {
    font-size: 1em;
    
}

.fa-chevron-up {
    color: var(--platinum);
    padding: 5px;
    border: 2px solid var(--platinum);
    background-image: linear-gradient(90deg, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.inicio, .section-sobre-mi, .section-proyectos, .section-contacto {
    margin: 3.5rem 0;
}

.wave1 {
    width: 100%;
    overflow: hidden;
    
}

.wave1 img {
    background-size: contain;
    display: block;
    height: 15.62em;
    width: 100%;
    transform: scaleX(2.5);
}




/**********************************************************************/




/**************************** NAVBAR *******************************/

.navbar {
    justify-content: space-between;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--platinum);
    margin: 0%;
    margin-bottom: 50px;
    padding: 30px;
    font-size: 1em;
}

.navbar div {
    width: 50%;
}

.ul-navbar {
    width: 50%;
    justify-content: space-evenly;
}

.navbar h2 {
    margin: 0%;
    margin-left: 10%;
}


/**********************************************************************/




/****************************** INICIO ********************************/

.inicio {
    justify-content: center;
}

.section-inicio-wrapper {
    max-width: 1200px;
    justify-content: space-around;
}

.section-inicio-wrapper div {
    width: 45%;
}

.inicio img {
    width: 100%;
}

h1 {
    font-size: 2.25em;
}

h1 span {
    display: block;
}


/**********************************************************************/




/****************************** SOBRE MI ********************************/


.section-sobre-mi {
    margin: 0%;
    padding-bottom: 3em;
    margin-bottom: 3em;
    justify-content: center;
    flex-direction: column;
    background-color: var(--royalBlueDark);
    
}

.section-sobre-mi-wrapper {
    max-width: 75em;
    width: 90%;
    flex-direction: column;
    
}

.container-tecnologias {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.container-tecnologias div {
    flex-direction: column;
}



/************************************************************************/



/****************************** PROYECTOS ********************************/


.section-proyectos {
    margin: 0%;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.container-cards-proyectos {
    width: 100%;
    max-width: 75em;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.card {
    background-image: linear-gradient(90deg, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    box-shadow: 0px 5px 14px 4px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0px 5px 14px 4px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 5px 14px 4px rgb(0 0 0 / 30%);
    margin-bottom: 3em;




    /* padding: 100px; */
    min-width: 20em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    /* justify-content: space-around; */
}

.mini-container-card {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
/************************************************************************/


/****************************** CONTACTO ********************************/

.section-contacto {
    margin: 0%;
    justify-content: center;
    flex-direction: column;
    background-color: var(--royalBlueDark);
    
}

.container-formulario {
    max-width: 75em;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container-formulario-grande {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
}

.container-formulario-1, .container-formulario-2 {
    width: 40%;
    
}

.mini-container-contacto {
    display: flex;
    flex-direction: column;

}

.container-formulario button {
    margin-top: 10px;
    background-image: linear-gradient(90deg, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    padding: 1.25em;
    border-style: none;
    color: var(--platinum);
    font-family: var(--font1);
    font-size: 1em;
}

/************************************************************************/



/****************************** FOOTER ********************************/

footer {
    
    width: 100%;
    justify-content: center;
    bottom: 0%;
    background-color: black;
    color: var(--platinum);
    
}

footer ul {
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 2em;
    color: var(--platinum);
}



/************************************************************************/