html {
    scroll-behavior: smooth;
}

:root {
    --background: #000114;
    --royalBlueDark: #002962;
    --USAFABlue: #004E89;
    --steelBlue: #407BA7;
    --platinum: #EBEBEB;
    --font1:'Titillium Web', sans-serif;
    
}

body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: var(--background);
    color: var(--platinum);
    font-family: var(--font1)
    /* box-sizing: border-box; */
}

/**************************** UTILIDADES *******************************/
.flex-centrado {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 32px;
}


/**********************************************************************/




/**************************** NAVBAR *******************************/

.navbar {
    justify-content: space-between;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--platinum);
    margin: 0%;
    margin-bottom: 50px;
    padding: 30px;
    font-size: 20px;
}

.navbar div {
    width: 50%;
}

.ul-navbar {
    width: 50%;
    justify-content: space-evenly;
}

.navbar h2 {
    margin: 0%;
    margin-left: 10%;
}


/**********************************************************************/




/****************************** INICIO ********************************/

.inicio {
    justify-content: center;
}

.section-inicio-wrapper {
    max-width: 1200px;
    justify-content: space-around;
}

.section-inicio-wrapper div {
    width: 45%;
}

.inicio img {
    width: 100%;
}

h1 {
    font-size: 36px;
}

h1 span {
    display: block;
}


/**********************************************************************/




/****************************** SOBRE MI ********************************/


.section-sobre-mi {
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
}

.section-sobre-mi-wrapper {
    max-width: 1200px;
    flex-direction: column;
    
}

.container-tecnologias {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-tecnologias span {
    display: block;
}



/************************************************************************/



/****************************** PROYECTOS ********************************/


.section-proyectos {
    justify-content: center;
    flex-direction: column;
}

.container-cards-proyectos {
    width: 1200px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background-color: var(--royalBlueDark);
    /* padding: 100px; */
    width: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    /* justify-content: space-around; */
}

.mini-container-card {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
/************************************************************************/


/****************************** CONTACTO ********************************/

.section-contacto {
    justify-content: center;
}

/************************************************************************/



/****************************** FOOTER ********************************/

footer {
    margin-top: 10%;
    width: 100%;
    justify-content: center;
    bottom: 0%;
    background-color: black;
    color: var(--platinum);
    
}

footer ul {
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: inherit;
}

/************************************************************************/