html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --background: #000114;
    --royalBlueDark: #002962;
    --USAFABlue: #004E89;
    --steelBlue: #407BA7;
    --platinum: #EBEBEB;
    --font1:'Titillium Web', sans-serif;
    
}

body {
    width: 100%;
    background-color: var(--background);
    color: var(--platinum);
    font-family: var(--font1);
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}