---
import Layout from "../layouts/Layout.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Experiences from "../components/Experiences.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import AboutIcon from "../components/icons/AboutIcon.astro";
import About from "../components/About.astro";
---

<Layout
  title="Portfolio de Adrián Centurion - Desarrollador y Programador Web/Frontend"
  description="Desarrollador Web/Frontend"
>
  <main class="px-4 h-full">
    <SectionContainer class="py-20 lg:py-44">
      <Hero />
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-10 flex items-center gap-3">
        <Briefcase class="fill-white size-7" />
        Experiencia laboral
      </h2>
      <Experiences />
    </SectionContainer>
    <SectionContainer id="proyectos" class="my-20">
      <h2 class="text-3xl font-semibold mb-10 flex items-center gap-3">
        <CodeIcon class="fill-white size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi" class="mt-20 mb-10">
      <h2 class="text-3xl font-semibold mb-10 flex items-center gap-3">
        <AboutIcon class="fill-white size-7" />
        Sobre mí
      </h2>
      <About />
    </SectionContainer>
  </main>
</Layout>

<style></style>
