<section class="flex flex-col lg:flex-row gap-4 justify-center items-center">
    <div class="w-full flex flex-grow items-center justify-center">
        <img src="/adrian.png" alt="Adrián" class="size-52 lg:size-96 object-cover rounded-full shadow-sm shadow-red-300/90 hover:shadow-red-400/80 hover:shadow-md transition ease-in-out">

    </div>

    <div class="w-full [&>p]:mb-4 [&>p]:text-gray-300/80 [&>p>strong]:text-red-400/80 [&>p>strong]:font-semibold text-pretty">
        <p>Me llamo Adrián Centurion. Empecé a estudiar programación en la pandemia de Covid. Comencé con un bootcamp MERN stack. Al finalizarlo seguí estudiando de manera autodidacta.</p>

        <p>He realizado dos trabajos freelance, el primero fue para la empresa en la que me encuentro trabajando actualmente. <strong>Diseñé y programé una landing page que ayudó a mejorar la presencia de la empresa en la web, aumentando el número de consultas y contrataciones.</strong></p>

        <p>Participé en aceleraciones de Alkemy y en varios cohortes de No Country, en los que formé equipo con personas de distintos países, lo que me ayudó a mejorar mucho mis soft skills. Actualmente <strong>mi stack de tecnologías incluye JavaScript, TypeScript, React, Next Js, Astro, Supabase, Node.</strong></p>
    </div>
</section>