<nav class="w-full bg-gray-800/10 border-b lg:border-b-2 border-violet-700/60">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between lg:justify-center mx-auto p-4">
      
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white/80 rounded-lg md:hidden hover:bg-gray-800/80 focus:outline-none focus:ring-2 focus:ring-violet-700/60 focus:text-violet-300" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-violet-700/60 rounded-lg bg-gray-800/10 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-gray-800/10 ">
          <li>
            <a href="#experiencia" class="block py-2 px-3 text-white/80 rounded hover:text-white hover:bg-violet-700/30 md:hover:bg-transparent md:border-0 md:hover:text-white md:hover:underline md:hover:underline-offset-4 md:hover:decoration-violet-700/60 md:hover:decoration-2 md:p-0">Experiencia</a>
          </li>
          <li>
            <a href="#proyectos" class="block py-2 px-3 text-white/80 rounded hover:text-white hover:bg-violet-700/30 md:hover:bg-transparent md:border-0 md:hover:text-white md:hover:underline md:hover:underline-offset-4 md:hover:decoration-violet-700/60 md:hover:decoration-2 md:p-0">Proyectos</a>
          </li>
          <li>
            <a href="#sobre-mi" class="block py-2 px-3 text-white/80 rounded hover:text-white hover:bg-violet-700/30 md:hover:bg-transparent md:border-0 md:hover:text-white md:hover:underline md:hover:underline-offset-4 md:hover:decoration-violet-700/60 md:hover:decoration-2 md:p-0">Sobre mí</a>
          </li>
          <li>
            <a href="mailto:adrianmcenturion@gmail.com" class="block py-2 px-3 text-white/80 rounded hover:text-white hover:bg-violet-700/30 md:hover:bg-transparent md:border-0 md:hover:text-white md:hover:underline md:hover:underline-offset-4 md:hover:decoration-violet-700/60 md:hover:decoration-2 md:p-0">Contacto</a>
          </li>
          <li>
            <a href="/AdrianCenturion-CV-ESP.pdf" download target="_blank" rel="noopener noreferrer" class="block py-2 px-3 text-white/80 rounded hover:text-white hover:bg-violet-700/30 md:hover:bg-transparent md:border-0 md:hover:text-white md:hover:underline md:hover:underline-offset-4 md:hover:decoration-violet-700/60 md:hover:decoration-2 md:p-0">CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  