<a class="mt-2 bg-violet-300/90 text-violet-950/90 text-xs font-semibold me-2 px-2 py-0.5 rounded border hover:border-violet-300/90 border-violet-950/80 brightness-150 hover:bg-violet-950/80 hover:text-violet-300/90  transition flex flex-row items-center justify-center gap-2" {...Astro.props} target="_blank" rel="noopener noreferrer">
    <slot />
</a>



